{% extends 'mail.html.twig' %}

{% block body %}
    <p>Вы отправили запрос на смену электронной почты.</p>

    <p>Ссылка подтверждения смены электронной почты:</p>

    {% set url = url('profile.email.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}